docs/integrations/templates/n8n-workflow.json
{
  "name": "Nexus Agent Events → CRM + Slack + Amazon Connect (Example)",
  "nodes": [
    {
      "parameters": {
        "path": "nexus-agent-events",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook (Catch Event)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 240]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"event\"]}}",
              "operation": "equals",
              "value2": "ticket.created"
            }
          ]
        }
      },
      "id": "IfTicketCreated",
      "name": "IF ticket.created",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [520, 160]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"event\"]}}",
              "operation": "equals",
              "value2": "feedback.suggestion"
            }
          ]
        }
      },
      "id": "IfFeedback",
      "name": "IF feedback.suggestion",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [520, 320]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"event\"]}}",
              "operation": "equals",
              "value2": "conversation.escalated"
            }
          ]
        }
      },
      "id": "IfEscalated",
      "name": "IF conversation.escalated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [520, 480]
    },
    {
      "parameters": {
        "url": "https://example-crm.local/api/tickets",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{JSON.stringify($json.body.data)}}"
      },
      "id": "CreateTicketInCRM",
      "name": "HTTP Request (Create Ticket)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [780, 80]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/XXX/YYY/ZZZ",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"text\": \"Nexus agent event: {{$json.body.event}}\\nAgent: {{$json.body.data.agent_id || 'n/a'}}\\nSession: {{$json.body.data.session_id || 'n/a'}}\"}"
      },
      "id": "SlackNotify",
      "name": "Slack Webhook (Notify All Events)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [780, 240]
    },
    {
      "parameters": {
        "url": "https://example.amazonconnect.com/contact-flow-endpoint",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"Details\":{\"ContactData\":{\"Attributes\":{\"recommendation\":$json.body.data.title || $json.body.event}}}}"
      },
      "id": "ConnectFeedback",
      "name": "Amazon Connect Feedback Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [780, 400]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/XXX/YYY/ZZZ",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"text\": \"🚨 Escalation: {{$json.body.data.reason}}\\nSession: {{$json.body.data.session_id}}\\nChannel: {{$json.body.data.channel}}\"}"
      },
      "id": "EscalationSlack",
      "name": "Slack Escalation Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [780, 560]
    }
  ],
  "connections": {
    "Webhook (Catch Event)": {
      "main": [
        [
          {
            "node": "IF ticket.created",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF feedback.suggestion",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF conversation.escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ticket.created": {
      "main": [
        [
          {
            "node": "HTTP Request (Create Ticket)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Webhook (Notify All Events)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF feedback.suggestion": {
      "main": [
        [
          {
            "node": "Amazon Connect Feedback Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Webhook (Notify All Events)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF conversation.escalated": {
      "main": [
        [
          {
            "node": "Slack Escalation Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Webhook (Notify All Events)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "v2-amazon-connect"
}
